@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

/* Стили для контейнера со скроллом */
* {
  scrollbar-width: thin; /* ширина полосы прокрутки */
  scrollbar-color: #001529 #ffffff; /* цвет полосы прокрутки и фона */
}

/* Стили для полосы прокрутки */
*::-webkit-scrollbar {
  width: 6px; /* ширина полосы прокрутки */
}

/* Стили для трека (фона) полосы прокрутки */
*::-webkit-scrollbar-track {
  background-color: #ffffff; /* цвет фона */
}

/* Стили для холста (границы) полосы прокрутки */
*::-webkit-scrollbar-thumb {
  background-color: #888888; /* цвет полосы прокрутки */
  border-radius: 4px; /* радиус скругления границы */
}

/* hover-стили для холста (границы) полосы прокрутки */
*::-webkit-scrollbar-thumb:hover {
  background-color: #555555; /* цвет полосы прокрутки при наведении */
}
